[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tmux/plugins/tpm"]
	path = modules/tmux/config/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
[submodule "tmux/plugins/nord-tmux"]
	path = modules/tmux/config/plugins/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux
	ignore = dirty
[submodule "tmux/plugins/tmux-sensible"]
	path = modules/tmux/config/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
	ignore = dirty
